/* ===========================
   FUENTES LOCALES PRODUCT SANS
   =========================== */

@font-face {
  font-family: "Product Sans";
  src: url("/font/Product Sans Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("/font/Product Sans Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("/font/Product Sans Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans";
  src: url("/font/Product Sans Bold Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ===========================
   TAILWIND
   =========================== */

@import "tailwindcss";

/* ===========================
   BODY GENERAL
   =========================== */

body {
  background-color: white;
  font-family: "Product Sans", sans-serif;
}
